entrypoint = "main.swift"

modules = ["swift"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 40867909
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "swift main.swift"
